@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
form {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f6f9fc;
}

.header-container {
  margin-bottom: 30px;
  text-align: center;
}

.web-title {
  font-size: 60px;
  font-weight: 700;
  color: #3498db;
  margin-top: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.main-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.board-container {
  flex: 1.5;
  border: 3px solid #3498db;
  border-radius: 3px;
  padding: 10px;
}

.board-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #444;
}

.button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: 700;
  transition: background-color 0.2s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button:hover {
  background-color: #48a6ef;
  transform: translateY(-2px);
}

.scores {
  width: 100%;
}

.scores-row {
  padding: 5px 0;
  border-bottom: 1px solid #dcdcdc;
}

.row-description {
  font-weight: 700;
  margin: 0;
  color: #333;
}

.odd-row {
  background-color: #f7f7f7;
}

.form-container {
  flex: 1;
  max-width: 500px;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 300px;
}

.input-style {
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 2px;
  width: 100%;
  max-width: 250px;
  font-family: 'Roboto', sans-serif;
}

.add-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: 700;
  transition: background-color 0.2s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: fit-content;
}

.add-btn:hover {
  background-color: #48a6ef;
  transform: translateY(-2px);
}
